<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LeagueApp.Properties.Settings.NORTHWNDConnectionString"
            connectionString="Data Source=RYBICCY\SQLEXPRESS;Initial Catalog=NORTHWND;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LeagueApp.Properties.Settings.LeagueConnectionString"
            connectionString="Data Source=RYBICCY\SQLEXPRESS;Initial Catalog=League;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>